---
const { href } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
const extendedHref = `${baseUrl}${href}`.replaceAll("//", "/");
---

<a href={extendedHref}>
  <slot>
    {href}
  </slot>
</a>
