---
import Link from "@/components/core/Link.astro";
import GlobalStyles from "@/components/GlobalStyles.astro";
import Layout from "@/layouts/Landing.astro";
---

<GlobalStyles />
<Layout>
  <ul style='background-color: aliceblue; padding: 3rem; margin: 3rem;'>
    <li>
      <Link href='/api/api-sampleapis-com/wines/reds/3.json' />
    </li>
    <li>
      <Link href='/api-sampleapis-com/wines/reds/3.json'>asd</Link>
    </li>
  </ul>
</Layout>
