---

---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/astro-template/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro Template</title>
    <!-- Open Graph Metadata -->
    <meta property='og:title' content='Astro Template' />
    <meta
      property='og:description'
      content='A template for building static sites with Astro.'
    />
    <meta
      property='og:image'
      content='https://oomia.github.io/astro-template/front.jpeg'
    />
    <meta property='og:type' content='website' />
  </head>
  <body>
    <nav></nav>
    <slot />
  </body>
</html>
